@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #18181B;
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans, system-ui);
  cursor: default !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  cursor: default !important;
}

input, textarea {
  cursor: text !important;
}

select, button, a, label {
  cursor: pointer !important;
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E4E4E7;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A1A1AA;
}
